* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .grid_1 {
    float: left;
    width: 60%;
    padding: 50px;
    height: 600px; /* Should be removed. Only for demonstration */
  }
  .grid_2 {
    float: left;
    width: 40%;
    padding: 50px;
    height: 600px; /* Should be removed. Only for demonstration */
  }

  .grid_3 {
  
    float: left ;
    width: 50%;
    padding: 10px;
    height: 400px;
    
  }
  .grid_4 {
   
    float: right;
    width: 30%;
    padding: 10px;
    height: 400px; 
    
  }
.second_row{
    background-color: #75a3a3;
    padding: 10px;
    height: 400px;
}
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  p{

    text-align: center;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;

  }
  p:hover{
      
    font-size: 20px;
    transition: 0.3s;
}
  h2{
      text-align: center;
      
  }
  h2:hover{
      
    font-size: 30px;
    transition: 0.3s;
}