* {
    box-sizing: border-box;
  }


  
  body{
    margin:0;
}
  
  
  .grid_1 {
    float: left;
    width: 60%;
    height: 600px;
    background-image: url("Approve entreis anywhere Pic.png");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 250px;
    
    
  }
  .grid_2 {
    float: left;
    width: 40%;
    padding-top: 10%;
    height: 600px; 
    
  }

  .grid_3 {
  
    float: left ;
    width: 45%;
    padding: 10px;
    height: 400px;
    
  }
  .grid_4 {
    float: right;
    width: 30%;
    padding-top: 1px;
    height: 500px; 
    background-image: url("Hassle\ Free\ Payments.png");
    background-repeat: no-repeat;
    background-size: 75%;
    
  }
.second_row{
   background-image: url("Rectangle\ 3.png") ;
    padding: 10px;
    height: 400px;
    
}
  
  
  
  .first_row:after {
    content: "";
    display: table;
    clear: both;
  }
  .second_row:after {
    content: "";
    display: table;
    clear: both;
  }

  p{

    text-align: center;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;

  }
  p:hover{
      
    font-size: 20px;
    transition: 0.3s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
  h2{
      text-align: center;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
      
  }
  h2:hover{
      
    font-size: 30px;
    transition: 0.3s;
}





